* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
}

.float-right {
  position: absolute;
  right: 32px;
}

.top-bar {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  padding: 4px 32px;
  align-items: center;
  background-color: #000;
  z-index: 11;
}
.top-bar .announcement {
  color: #fff;
  padding: 2px;
}
.top-bar .announcement span {
  vertical-align: -moz-middle-with-baseline;
  vertical-align: -webkit-baseline-middle;
}
.top-bar .sm-icons {
  width: 100px;
}

.sm-icons {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.sm-icons li {
  border: none !important;
}
.sm-icons a {
  display: inline-block;
  padding: 5px;
}
.sm-icons svg {
  width: 18px;
  height: 18px;
  fill: #fff;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 32px;
}

#currency-convertor-wrapper {
  display: none;
  position: relative;
  width: 100px;
  height: 1px;
  font-size: 14px;
  letter-spacing: 2px;
}

.currency-selector {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 221px;
  overflow: hidden;
}

.selector-btn {
  border: 1px solid #000;
  position: relative;
  z-index: 10;
  background-color: #fff;
  cursor: pointer;
}

.selector-btn,
#currencies li {
  padding-left: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.dropdown-icon-wrapper {
  float: right;
  padding-right: 12px;
}

#dropdown-icon {
  stroke-linecap: round;
  stroke-width: 1.05;
}

#currencies {
  width: 100%;
  border-bottom: 1px solid #000;
  transition: transform 500ms ease-in-out;
  position: absolute;
  top: -82px;
}

#currencies.dropdown {
  transform: translateY(110px);
}

#currencies li {
  border: 1px solid #000;
  border-bottom: 0;
  cursor: pointer;
  user-select: none;
}

#l-menu {
  display: flex;
  justify-content: flex-end;
  flex-basis: 100px;
}
#l-menu a {
  color: #000;
}
#l-menu svg {
  width: 17px;
}

#search-box {
  border: none;
}

.search-box-wrapper {
  width: 350px;
  position: absolute;
  display: none;
  justify-content: space-between;
  top: -68px;
  right: 0;
  padding: 18px 20px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  line-height: 2;
  font-size: 16px;
  transition: transform 500ms ease-in-out;
}

.show {
  transform: translateY(104px);
}

.close-seach-box {
  cursor: pointer;
}

.search,
.account {
  display: none;
}

@media (min-width: 768px) {
  .top-bar {
    flex-direction: row;
    justify-content: space-between;
  }

  .announcement {
    margin: 0 auto;
  }

  .sm-icons {
    position: absolute;
    right: 32px;
  }

  .nav-btn {
    display: none;
  }

  #currency-convertor-wrapper {
    display: block;
  }

  #l-menu {
    justify-content: space-between;
  }

  .search-box-wrapper {
    display: flex;
  }

  .search,
.account {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
