* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#logo {
  text-align: center;
}

.nav {
  width: 300px;
  position: absolute;
  right: 100%;
  top: 0;
}

.nav-items {
  height: 100vh;
  width: 100%;
  background-color: #222;
}

.nav-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 14px;
  padding-right: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-searchBox {
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-color: #222;
  padding: 20px 10px;
  font-size: 16px;
  color: #fff;
}

.nav-searchIcon {
  padding: 16px;
}

.nav-link {
  height: 50px;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  padding: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-item_hasSub {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items_child {
  display: none;
  position: absolute;
  right: 100%;
  top: 0;
  z-index: -1;
}

.nav-subNavHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.nav-subNavHeading .nav-link_toPage {
  text-align: center;
  padding-right: 25px;
}

.nav-subNavHeading .nav-link_goBack {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  padding: 11px 20px;
}

.nav-subNavHeading .nav-link_goBack svg {
  transform: rotate(180deg);
}

.nav-link_toSubNav {
  display: inline-block;
  padding: 11px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.container-wrapper {
  height: inherit;
  width: 100%;
  position: relative;
  z-index: 2;
  background-color: #fff;
}

.container-wrapperCover {
  width: inherit;
  height: inherit;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  position: absolute;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
}
.menu > div {
  flex-basis: 33.333%;
}

.float-right {
  position: absolute;
  right: 32px;
}

.topBar {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  padding: 4px 32px;
  align-items: center;
  background-color: #000;
  z-index: 11;
}

.announcement {
  color: #fff;
  padding: 2px;
}

.announcement-text {
  vertical-align: -moz-middle-with-baseline;
  vertical-align: -webkit-baseline-middle;
}

.social {
  width: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.social-icon {
  border: none !important;
}

.social-link {
  display: inline-block;
  padding: 5px;
}
.social-link svg {
  width: 18px;
  height: 18px;
  fill: #fff;
}

.currency {
  display: none;
  position: relative;
  width: 100px;
  height: 1px;
  font-size: 14px;
  letter-spacing: 2px;
}

.currency-container {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 221px;
  overflow: hidden;
}

.currency-selectBtn {
  border: 1px solid #000;
  position: relative;
  z-index: 10;
  background-color: #fff;
  cursor: pointer;
}

.currency-selectBtn,
.currency-item {
  padding-left: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.currency-chevron {
  float: right;
  padding-right: 12px;
}

.chevronDown-icon {
  stroke-linecap: round;
  stroke-width: 1.05;
}

.currency-items {
  width: 100%;
  border-bottom: 1px solid #000;
  transition: transform 300ms ease-in-out;
  position: absolute;
  top: -82px;
}

.dropdown {
  transform: translateY(110px);
}

.currency-item {
  border: 1px solid #000;
  border-bottom: 0;
  cursor: pointer;
  user-select: none;
}

.qLinks {
  display: flex;
  justify-content: flex-end;
  flex-basis: 100px;
}
.qLinks a {
  color: #000;
}
.qLinks svg {
  vertical-align: middle;
}

.lgSearch {
  width: 350px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: -38px;
  right: 0;
  padding: 18px 20px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  line-height: 2;
  font-size: 16px;
  transition: transform 300ms ease-in-out;
}

.lgSearch-input {
  border: none;
  height: 35px;
  width: 270px;
}

.show {
  transform: translateY(74px);
}

.lgSearch-icon,
.lgSearch-closeBtn {
  cursor: pointer;
}

.menu-navBtnIcon {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}

.cart-icon {
  display: inline-block;
  padding: 10px;
}

.lgSearch-openBtn,
.account {
  display: none;
}

@media (min-width: 768px) {
  .top-bar {
    flex-direction: row;
    justify-content: space-between;
  }

  .announcement {
    margin: 0 auto;
  }

  .social {
    position: absolute;
    right: 32px;
  }

  .menu-navBtn {
    display: none;
  }

  .currency {
    display: block;
  }

  .qLinks {
    justify-content: space-between;
  }

  .lgSearch-openBtn,
.account {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
